body { margin: 0; }
button {
  border: none;
  outline: none;
  cursor: pointer;
}

#blackboard {
  box-sizing: border-box;
  position: relative;
  width: 90%;
  max-width: 400px;
  height: auto;
  margin: 5% auto 0;
  border: 12px solid #e4c27a;
  border-radius: 8px;
  box-shadow: 0 0 0 2px #fee2b5,
              0 0 0 4px #c39f6f;
  background: #8daf9f;
  outline: 2px solid #c09e75;
  outline-offset: -10px;
}

#blackboard::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 100%;
}

.card {
  position: absolute;
  border-radius: 8px;
  cursor: pointer;
  animation: loadCard .5s linear both;
}

.card:hover { opacity: .9; }

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee center center / auto 80% no-repeat;
  border-radius: 8px;
  box-shadow: 0 1px 2px #9785cf;
  backface-visibility: hidden;
  transition: transform .5s linear;
}

/* 默认背面向上 */
.card-front { transform: rotateY(180deg); }
.card-back { background-image: url(../img/back.png); }

.apple .card-front { background-image: url(../img/apple.png); }
.pear .card-front { background-image: url(../img/pear.png); }
.lemon .card-front { background-image: url(../img/lemon.png); }
.watermelon .card-front { background-image: url(../img/watermelon.png); }
.lucky .card-front {
  background-color: #ccffcc;
  background-image: url(../img/lucky.png);
}

.lucky .card-front,
.lucky .card-back { box-shadow: 0 1px 2px #4fde49; }

.showfront .card-back { transform: rotateY(180deg); }
.showfront .card-front { transform: rotateY(0); }
.hide.card { animation: hideCard .5s linear both; }

#restartBtn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 6em;
  height: max-content;
  padding: .5em;
  margin: auto;
  font-size: 1.2em;
  color: #fff;
  background: #58a linear-gradient(hsla(0,0%,100%,.2), transparent);
  border-radius: 8px;
  text-shadow: 0 -1px 1px #000;
  user-select: none;
}

.hide#restartBtn { display: none;}

@keyframes loadCard {
  0% { transform: scale(0); }
  80% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes hideCard {
  20% { transform: scale(1.2); }
  100% { transform: scale(0); }
}
